<div class="container">
  <h2 class="header">{{ title$ | async }} Zoo</h2>
  <div class="btn__row">
    <button (click)="addAnimal()">Add Animal</button>
    <button (click)="resetState()">Reset State</button>
    <button (click)="setTitle()">Set Title</button>
  </div>
  <div>
    <ul>
      <li class="content" *ngFor="let animal of animals$ | async">
        <ng-container
          *ngTemplateOutlet="animalOut; context: { animal: this.animal }"
        ></ng-container>
      </li>
    </ul>
  </div>
</div>

<ng-template #animalOut let-animal="animal">
  {{ animal.name }}
  <ul>
    <li>ID: {{ animal.id }}</li>
    <li>Date Modified: {{ animal.dateModified | date: 'medium' }}</li>
  </ul>
  <app-edit-animal
    class="edit__form"
    (patch)="editAnimal($event)"
    [animal]="animal"
  ></app-edit-animal>
</ng-template>
